node_modules/
server_config/
server_config/*
uploads/*

appconfig/*
!appconfig/dev/
!appconfig/config_template/
!appconfig/default_env_var/
!appconfig/app_environment_configs.js

event_push_logs/temp

**/.DS_Store
.DS_Store
package-lock.json
*.vscode/

.env
